# Assignment list and for
# 1.indexing
1.Write code for retriving values from list by indexing and print a statement message for given lists

In [1]:
employee_data = ['Anees shahzad',500000,'Web development', 5]

In [2]:
msg="{} is work in {} for {} years and is salary is {}".format(employee_data[0],employee_data[2],
                                                               employee_data[3],employee_data[1])

In [3]:
print(msg)

Anees shahzad is work in Web development for 5 years and is salary is 500000

In [4]:
data = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
                '28 Januray 2020', '05 February 2020']

In [5]:
msg2="Hello {} {},\nYour application is accepted for admission in {} {} in {}.\nYou have to submit fee {} before {}.Your classes will start from {}.\nThanks".format(data[0],data[1],data[4],data[3],data[2],data[5],data[6],data[7])

In [6]:
print(msg2)

Hello Ahmed Bilal,
Your application is accepted for admission in BS Computer Science in Government College University.
You have to submit fee 50000 before 28 Januray 2020.Your classes will start from 05 February 2020.
Thanks

# Slicing
2.You have a list of cities given as follows. Use positive and negative slicing.

In [7]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

* for positive slicing

In [8]:
cities[0:4]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [9]:
cities[2:6]

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [10]:
cities[5:8]

['Sahiwal', 'Rawalpindi', 'Sialkot']

* for negative slicing

In [11]:
cities[-4:-1]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [12]:
cities[-5:]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3.update lists
3.You have a list of student information.
* Add values to this list using append

In [13]:
data = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,
                '28 Januray 2020', '05 February 2020']

In [14]:
data.append('20 February 2019')

In [15]:
data

['Ahmed',
 'Bilal',
 'Government College University',
 'Computer Science',
 'BS',
 50000,
 '28 Januray 2020',
 '05 February 2020',
 '20 February 2019']

In [16]:
data.append('8')

In [17]:
data

['Ahmed',
 'Bilal',
 'Government College University',
 'Computer Science',
 'BS',
 50000,
 '28 Januray 2020',
 '05 February 2020',
 '20 February 2019',
 '8']

* Add values to this list using insert

In [18]:
data.insert(4,25000)

In [19]:
data

['Ahmed',
 'Bilal',
 'Government College University',
 'Computer Science',
 25000,
 'BS',
 50000,
 '28 Januray 2020',
 '05 February 2020',
 '20 February 2019',
 '8']

In [20]:
data.insert(1,"M.iqbal")

In [21]:
data

['Ahmed',
 'M.iqbal',
 'Bilal',
 'Government College University',
 'Computer Science',
 25000,
 'BS',
 50000,
 '28 Januray 2020',
 '05 February 2020',
 '20 February 2019',
 '8']

* Remove values from list using remove method:

In [22]:
data[0]="Anees shahzad"

In [23]:
data[5]="50000"

In [24]:
data

['Anees shahzad',
 'M.iqbal',
 'Bilal',
 'Government College University',
 'Computer Science',
 '50000',
 'BS',
 50000,
 '28 Januray 2020',
 '05 February 2020',
 '20 February 2019',
 '8']

* Remove values from list using remove method:

In [25]:
data.remove('8')

In [26]:
data

['Anees shahzad',
 'M.iqbal',
 'Bilal',
 'Government College University',
 'Computer Science',
 '50000',
 'BS',
 50000,
 '28 Januray 2020',
 '05 February 2020',
 '20 February 2019']

In [27]:
data.remove('BS')

In [28]:
data

['Anees shahzad',
 'M.iqbal',
 'Bilal',
 'Government College University',
 'Computer Science',
 '50000',
 50000,
 '28 Januray 2020',
 '05 February 2020',
 '20 February 2019']

* Remove values from list using pop method:

In [29]:
s=data.pop(-1)
del s

In [30]:
data

['Anees shahzad',
 'M.iqbal',
 'Bilal',
 'Government College University',
 'Computer Science',
 '50000',
 50000,
 '28 Januray 2020',
 '05 February 2020']

In [31]:
a=data.pop(2)

In [32]:
del a

In [33]:
data

['Anees shahzad',
 'M.iqbal',
 'Government College University',
 'Computer Science',
 '50000',
 50000,
 '28 Januray 2020',
 '05 February 2020']

# 4.Multidimensional list

In [34]:
employeeData = [["Ali", 35000, "Software Engineer"],
                ["Talha", 55000, "Product Manager"],
                ["Nasir", 79000, "Computer Engineer"],
                ["Khalid", 44000, "DBA"]]

In [35]:
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 79000, 'Computer Engineer'],
 ['Khalid', 44000, 'DBA']]

1. Calculate total salary of all employees.

In [36]:
total=0
for i in employeeData:
    salary=i[1]
    total += salary

In [37]:
total

213000

2.Print name of employees with salaray greater than 50000.

In [38]:
for i in employeeData:
    name=i[0]
    salary=i[1]
    if salary > 50000:
        print(name)

Talha
Nasir

# 5.Login User

In [8]:
username = "Aneesshahzad"
password= "1234"

In [10]:
if username == "Aneesshahzad" and password == "1234":
    print("login successful")
else:
    print("incorrect detail")

login successful

In [11]:
username = "Ali"
password= "1234"

In [12]:
if username == "Aneesshahzad" and password == "1234":
    print("login successful")
else:
    print("incorrect detail")

incorrect detail